<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.OffTaskdetailMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.OffTaskdetail" >
    <constructor >
      <idArg column="ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="TASKID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ACCEPTUSERID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ISFINISH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANYID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LASTTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TASKID, ACCEPTUSERID, ISFINISH, STATE, COMPANYID, LASTTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.OffTaskdetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from OFF_TASKDETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OFF_TASKDETAIL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from OFF_TASKDETAIL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.OffTaskdetailExample" >
    delete from OFF_TASKDETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.OffTaskdetail" >
    insert into OFF_TASKDETAIL (ID, TASKID, ACCEPTUSERID, 
      ISFINISH, STATE, COMPANYID, 
      LASTTIME)
    values (#{id,jdbcType=DECIMAL}, #{taskid,jdbcType=DECIMAL}, #{acceptuserid,jdbcType=DECIMAL}, 
      #{isfinish,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{companyid,jdbcType=DECIMAL}, 
      #{lasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.OffTaskdetail" >
    insert into OFF_TASKDETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="taskid != null" >
        TASKID,
      </if>
      <if test="acceptuserid != null" >
        ACCEPTUSERID,
      </if>
      <if test="isfinish != null" >
        ISFINISH,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="companyid != null" >
        COMPANYID,
      </if>
      <if test="lasttime != null" >
        LASTTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=DECIMAL},
      </if>
      <if test="acceptuserid != null" >
        #{acceptuserid,jdbcType=DECIMAL},
      </if>
      <if test="isfinish != null" >
        #{isfinish,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=DECIMAL},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.OffTaskdetailExample" resultType="java.lang.Integer" >
    select count(*) from OFF_TASKDETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OFF_TASKDETAIL
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.taskid != null" >
        TASKID = #{record.taskid,jdbcType=DECIMAL},
      </if>
      <if test="record.acceptuserid != null" >
        ACCEPTUSERID = #{record.acceptuserid,jdbcType=DECIMAL},
      </if>
      <if test="record.isfinish != null" >
        ISFINISH = #{record.isfinish,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.companyid != null" >
        COMPANYID = #{record.companyid,jdbcType=DECIMAL},
      </if>
      <if test="record.lasttime != null" >
        LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OFF_TASKDETAIL
    set ID = #{record.id,jdbcType=DECIMAL},
      TASKID = #{record.taskid,jdbcType=DECIMAL},
      ACCEPTUSERID = #{record.acceptuserid,jdbcType=DECIMAL},
      ISFINISH = #{record.isfinish,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      COMPANYID = #{record.companyid,jdbcType=DECIMAL},
      LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.OffTaskdetail" >
    update OFF_TASKDETAIL
    <set >
      <if test="taskid != null" >
        TASKID = #{taskid,jdbcType=DECIMAL},
      </if>
      <if test="acceptuserid != null" >
        ACCEPTUSERID = #{acceptuserid,jdbcType=DECIMAL},
      </if>
      <if test="isfinish != null" >
        ISFINISH = #{isfinish,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        COMPANYID = #{companyid,jdbcType=DECIMAL},
      </if>
      <if test="lasttime != null" >
        LASTTIME = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.OffTaskdetail" >
    update OFF_TASKDETAIL
    set TASKID = #{taskid,jdbcType=DECIMAL},
      ACCEPTUSERID = #{acceptuserid,jdbcType=DECIMAL},
      ISFINISH = #{isfinish,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      COMPANYID = #{companyid,jdbcType=DECIMAL},
      LASTTIME = #{lasttime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
     <!-- 结果映射 -->
  <resultMap type="OffTaskdetail" id="offtaskMap1" autoMapping="true">
  <id column="ID" property="id"></id>
  <!-- 一对一的配置start -->
  <association property="offAssesstask" javaType="OffAssesstask" autoMapping="true">
  <id column="TASKID" property="taskid"></id>
  </association>
   <!--  一对一的配置end -->
  </resultMap>
 
   <select id="selectaccept" resultMap="offtaskMap1" parameterType="java.lang.Long">
  select *
    from OFF_TASKDETAIL
    LEFT JOIN OFF_ASSESSTASK ON OFF_TASKDETAIL.TASKID=OFF_ASSESSTASK.TASKID
    where OFF_TASKDETAIL.ACCEPTUSERID=#{acceptuserid,jdbcType=DECIMAL}
    ORDER BY OFF_TASKDETAIL.LASTTIME DESC
  </select>
  
   <select id="selectbytitle" resultMap="offtaskMap1" parameterType="map" >
  select *
    from OFF_TASKDETAIL
    LEFT JOIN OFF_ASSESSTASK ON OFF_TASKDETAIL.TASKID=OFF_ASSESSTASK.TASKID
    where  OFF_ASSESSTASK.TASKTITLE LIKE concat(concat('%',#{tasktitle,jdbcType=VARCHAR}),'%')
     AND OFF_TASKDETAIL.ACCEPTUSERID=#{cid}
     ORDER BY OFF_TASKDETAIL.LASTTIME DESC
  </select>
  
     <select id="selectbycontent" resultMap="offtaskMap1"  parameterType="map"  >
  select *
    from OFF_TASKDETAIL
    LEFT JOIN OFF_ASSESSTASK ON OFF_TASKDETAIL.TASKID=OFF_ASSESSTASK.TASKID
    where OFF_ASSESSTASK.TASKDETAIL LIKE concat(concat('%',#{taskdetail,jdbcType=VARCHAR}),'%')
    AND OFF_TASKDETAIL.ACCEPTUSERID=#{cid}
    ORDER BY OFF_TASKDETAIL.LASTTIME DESC
  </select>
  
   <select id="selectbyuser" resultMap="offtaskMap1"  parameterType="map"  >
  select *
    from OFF_TASKDETAIL
    LEFT JOIN OFF_ASSESSTASK ON OFF_TASKDETAIL.TASKID=OFF_ASSESSTASK.TASKID
    where OFF_ASSESSTASK.TASKPUBLISHER LIKE concat(concat('%',#{taskpublisher,jdbcType=VARCHAR}),'%')
    AND OFF_TASKDETAIL.ACCEPTUSERID=#{cid}
    ORDER BY OFF_TASKDETAIL.LASTTIME DESC
  </select>
  
  <select id="selectbytarget" resultMap="offtaskMap1"  parameterType="map"  >
  select *
    from OFF_TASKDETAIL
    LEFT JOIN OFF_ASSESSTASK ON OFF_TASKDETAIL.TASKID=OFF_ASSESSTASK.TASKID
    where OFF_ASSESSTASK.ASSESSTARGET LIKE concat(concat('%',#{assesstarget,jdbcType=VARCHAR}),'%')
    AND OFF_TASKDETAIL.ACCEPTUSERID=#{cid}
    ORDER BY OFF_TASKDETAIL.LASTTIME DESC
  </select>
</mapper>