<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SYS_POWERCOLUMNMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.SYS_POWERCOLUMN" >
    <constructor >
      <idArg column="CID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="CNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CDESCRIBE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LASTTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CID, CNAME, CDESCRIBE, LASTTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.SYS_POWERCOLUMNExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_POWERCOLUMN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_POWERCOLUMN
    where CID = #{cid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_POWERCOLUMN
    where CID = #{cid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.SYS_POWERCOLUMNExample" >
    delete from SYS_POWERCOLUMN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.SYS_POWERCOLUMN" >
    insert into SYS_POWERCOLUMN (CID, CNAME, CDESCRIBE, 
      LASTTIME)
    values (#{cid,jdbcType=DECIMAL}, #{cname,jdbcType=VARCHAR}, #{cdescribe,jdbcType=VARCHAR}, 
      #{lasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.SYS_POWERCOLUMN" >
    insert into SYS_POWERCOLUMN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="cname != null" >
        CNAME,
      </if>
      <if test="cdescribe != null" >
        CDESCRIBE,
      </if>
      <if test="lasttime != null" >
        LASTTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=DECIMAL},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cdescribe != null" >
        #{cdescribe,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.SYS_POWERCOLUMNExample" resultType="java.lang.Integer" >
    select count(*) from SYS_POWERCOLUMN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_POWERCOLUMN
    <set >
      <if test="record.cid != null" >
        CID = #{record.cid,jdbcType=DECIMAL},
      </if>
      <if test="record.cname != null" >
        CNAME = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.cdescribe != null" >
        CDESCRIBE = #{record.cdescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.lasttime != null" >
        LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_POWERCOLUMN
    set CID = #{record.cid,jdbcType=DECIMAL},
      CNAME = #{record.cname,jdbcType=VARCHAR},
      CDESCRIBE = #{record.cdescribe,jdbcType=VARCHAR},
      LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.SYS_POWERCOLUMN" >
    update SYS_POWERCOLUMN
    <set >
      <if test="cname != null" >
        CNAME = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cdescribe != null" >
        CDESCRIBE = #{cdescribe,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        LASTTIME = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CID = #{cid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.SYS_POWERCOLUMN" >
    update SYS_POWERCOLUMN
    set CNAME = #{cname,jdbcType=VARCHAR},
      CDESCRIBE = #{cdescribe,jdbcType=VARCHAR},
      LASTTIME = #{lasttime,jdbcType=TIMESTAMP}
    where CID = #{cid,jdbcType=DECIMAL}
  </update>
</mapper>