<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysJobinfoMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.SysJobinfo" >
    <constructor >
      <idArg column="JID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="JNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="JDESCRIBE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GONGSIID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="LASTTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    JID, JNAME, DID, JDESCRIBE, GONGSIID, LASTTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.SysJobinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_JOBINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_JOBINFO
    where JID = #{jid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_JOBINFO
    where JID = #{jid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.SysJobinfoExample" >
    delete from SYS_JOBINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.SysJobinfo" >
    insert into SYS_JOBINFO (JID, JNAME, DID, 
      JDESCRIBE, GONGSIID, LASTTIME
      )
    values (#{jid,jdbcType=DECIMAL}, #{jname,jdbcType=VARCHAR}, #{did,jdbcType=DECIMAL}, 
      #{jdescribe,jdbcType=VARCHAR}, #{gongsiid,jdbcType=DECIMAL}, #{lasttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.SysJobinfo" >
    insert into SYS_JOBINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        JID,
      </if>
      <if test="jname != null" >
        JNAME,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="jdescribe != null" >
        JDESCRIBE,
      </if>
      <if test="gongsiid != null" >
        GONGSIID,
      </if>
      <if test="lasttime != null" >
        LASTTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jid != null" >
        #{jid,jdbcType=DECIMAL},
      </if>
      <if test="jname != null" >
        #{jname,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        #{did,jdbcType=DECIMAL},
      </if>
      <if test="jdescribe != null" >
        #{jdescribe,jdbcType=VARCHAR},
      </if>
      <if test="gongsiid != null" >
        #{gongsiid,jdbcType=DECIMAL},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.SysJobinfoExample" resultType="java.lang.Integer" >
    select count(*) from SYS_JOBINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_JOBINFO
    <set >
      <if test="record.jid != null" >
        JID = #{record.jid,jdbcType=DECIMAL},
      </if>
      <if test="record.jname != null" >
        JNAME = #{record.jname,jdbcType=VARCHAR},
      </if>
      <if test="record.did != null" >
        DID = #{record.did,jdbcType=DECIMAL},
      </if>
      <if test="record.jdescribe != null" >
        JDESCRIBE = #{record.jdescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.gongsiid != null" >
        GONGSIID = #{record.gongsiid,jdbcType=DECIMAL},
      </if>
      <if test="record.lasttime != null" >
        LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_JOBINFO
    set JID = #{record.jid,jdbcType=DECIMAL},
      JNAME = #{record.jname,jdbcType=VARCHAR},
      DID = #{record.did,jdbcType=DECIMAL},
      JDESCRIBE = #{record.jdescribe,jdbcType=VARCHAR},
      GONGSIID = #{record.gongsiid,jdbcType=DECIMAL},
      LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.SysJobinfo" >
    update SYS_JOBINFO
    <set >
      <if test="jname != null" >
        JNAME = #{jname,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        DID = #{did,jdbcType=DECIMAL},
      </if>
      <if test="jdescribe != null" >
        JDESCRIBE = #{jdescribe,jdbcType=VARCHAR},
      </if>
      <if test="gongsiid != null" >
        GONGSIID = #{gongsiid,jdbcType=DECIMAL},
      </if>
      <if test="lasttime != null" >
        LASTTIME = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where JID = #{jid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.SysJobinfo" >
    update SYS_JOBINFO
    set JNAME = #{jname,jdbcType=VARCHAR},
      DID = #{did,jdbcType=DECIMAL},
      JDESCRIBE = #{jdescribe,jdbcType=VARCHAR},
      GONGSIID = #{gongsiid,jdbcType=DECIMAL},
      LASTTIME = #{lasttime,jdbcType=TIMESTAMP}
    where JID = #{jid,jdbcType=DECIMAL}
  </update>
</mapper>