<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.SysRole" >
    <constructor >
      <idArg column="RID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="RNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RDESCRIBE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="HEADRID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="OPERTORID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="LASTTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RID, RNAME, RDESCRIBE, HEADRID, OPERTORID, LASTTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.SysRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where RID = #{rid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_ROLE
    where RID = #{rid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.SysRoleExample" >
    delete from SYS_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.SysRole" >
    insert into SYS_ROLE (RID, RNAME, RDESCRIBE, 
      HEADRID, OPERTORID, LASTTIME
      )
    values (#{rid,jdbcType=DECIMAL}, #{rname,jdbcType=VARCHAR}, #{rdescribe,jdbcType=VARCHAR}, 
      #{headrid,jdbcType=DECIMAL}, #{opertorid,jdbcType=DECIMAL}, #{lasttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.SysRole" >
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        RID,
      </if>
      <if test="rname != null" >
        RNAME,
      </if>
      <if test="rdescribe != null" >
        RDESCRIBE,
      </if>
      <if test="headrid != null" >
        HEADRID,
      </if>
      <if test="opertorid != null" >
        OPERTORID,
      </if>
      <if test="lasttime != null" >
        LASTTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=DECIMAL},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescribe != null" >
        #{rdescribe,jdbcType=VARCHAR},
      </if>
      <if test="headrid != null" >
        #{headrid,jdbcType=DECIMAL},
      </if>
      <if test="opertorid != null" >
        #{opertorid,jdbcType=DECIMAL},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.SysRoleExample" resultType="java.lang.Integer" >
    select count(*) from SYS_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_ROLE
    <set >
      <if test="record.rid != null" >
        RID = #{record.rid,jdbcType=DECIMAL},
      </if>
      <if test="record.rname != null" >
        RNAME = #{record.rname,jdbcType=VARCHAR},
      </if>
      <if test="record.rdescribe != null" >
        RDESCRIBE = #{record.rdescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.headrid != null" >
        HEADRID = #{record.headrid,jdbcType=DECIMAL},
      </if>
      <if test="record.opertorid != null" >
        OPERTORID = #{record.opertorid,jdbcType=DECIMAL},
      </if>
      <if test="record.lasttime != null" >
        LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_ROLE
    set RID = #{record.rid,jdbcType=DECIMAL},
      RNAME = #{record.rname,jdbcType=VARCHAR},
      RDESCRIBE = #{record.rdescribe,jdbcType=VARCHAR},
      HEADRID = #{record.headrid,jdbcType=DECIMAL},
      OPERTORID = #{record.opertorid,jdbcType=DECIMAL},
      LASTTIME = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.SysRole" >
    update SYS_ROLE
    <set >
      <if test="rname != null" >
        RNAME = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescribe != null" >
        RDESCRIBE = #{rdescribe,jdbcType=VARCHAR},
      </if>
      <if test="headrid != null" >
        HEADRID = #{headrid,jdbcType=DECIMAL},
      </if>
      <if test="opertorid != null" >
        OPERTORID = #{opertorid,jdbcType=DECIMAL},
      </if>
      <if test="lasttime != null" >
        LASTTIME = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RID = #{rid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.SysRole" >
    update SYS_ROLE
    set RNAME = #{rname,jdbcType=VARCHAR},
      RDESCRIBE = #{rdescribe,jdbcType=VARCHAR},
      HEADRID = #{headrid,jdbcType=DECIMAL},
      OPERTORID = #{opertorid,jdbcType=DECIMAL},
      LASTTIME = #{lasttime,jdbcType=TIMESTAMP}
    where RID = #{rid,jdbcType=DECIMAL}
  </update>
</mapper>