<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.XiaoshouSelloutMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.XiaoshouSellout" >
    <constructor >
      <idArg column="SID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="MAKETIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="TID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GUID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="SPRICE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="SSTATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISANTI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LSTATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CID" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="LASTDATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SID, MAKETIME, TID, GUID, SPRICE, SSTATUS, ISANTI, LSTATUS, REMARK, CID, LASTDATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.XiaoshouSelloutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from XIAOSHOU_SELLOUT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from XIAOSHOU_SELLOUT
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from XIAOSHOU_SELLOUT
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.XiaoshouSelloutExample" >
    delete from XIAOSHOU_SELLOUT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.XiaoshouSellout" >
    insert into XIAOSHOU_SELLOUT (SID, MAKETIME, TID, 
      GUID, SPRICE, SSTATUS, 
      ISANTI, LSTATUS, REMARK, 
      CID, LASTDATE)
    values (#{sid,jdbcType=DECIMAL}, #{maketime,jdbcType=TIMESTAMP}, #{tid,jdbcType=VARCHAR}, 
      #{guid,jdbcType=DECIMAL}, #{sprice,jdbcType=DECIMAL}, #{sstatus,jdbcType=VARCHAR}, 
      #{isanti,jdbcType=VARCHAR}, #{lstatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{cid,jdbcType=DECIMAL}, #{lastdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.XiaoshouSellout" >
    insert into XIAOSHOU_SELLOUT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="maketime != null" >
        MAKETIME,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="guid != null" >
        GUID,
      </if>
      <if test="sprice != null" >
        SPRICE,
      </if>
      <if test="sstatus != null" >
        SSTATUS,
      </if>
      <if test="isanti != null" >
        ISANTI,
      </if>
      <if test="lstatus != null" >
        LSTATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="cid != null" >
        CID,
      </if>
      <if test="lastdate != null" >
        LASTDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="maketime != null" >
        #{maketime,jdbcType=TIMESTAMP},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=DECIMAL},
      </if>
      <if test="sprice != null" >
        #{sprice,jdbcType=DECIMAL},
      </if>
      <if test="sstatus != null" >
        #{sstatus,jdbcType=VARCHAR},
      </if>
      <if test="isanti != null" >
        #{isanti,jdbcType=VARCHAR},
      </if>
      <if test="lstatus != null" >
        #{lstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=DECIMAL},
      </if>
      <if test="lastdate != null" >
        #{lastdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.XiaoshouSelloutExample" resultType="java.lang.Integer" >
    select count(*) from XIAOSHOU_SELLOUT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update XIAOSHOU_SELLOUT
    <set >
      <if test="record.sid != null" >
        SID = #{record.sid,jdbcType=DECIMAL},
      </if>
      <if test="record.maketime != null" >
        MAKETIME = #{record.maketime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=VARCHAR},
      </if>
      <if test="record.guid != null" >
        GUID = #{record.guid,jdbcType=DECIMAL},
      </if>
      <if test="record.sprice != null" >
        SPRICE = #{record.sprice,jdbcType=DECIMAL},
      </if>
      <if test="record.sstatus != null" >
        SSTATUS = #{record.sstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isanti != null" >
        ISANTI = #{record.isanti,jdbcType=VARCHAR},
      </if>
      <if test="record.lstatus != null" >
        LSTATUS = #{record.lstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        CID = #{record.cid,jdbcType=DECIMAL},
      </if>
      <if test="record.lastdate != null" >
        LASTDATE = #{record.lastdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update XIAOSHOU_SELLOUT
    set SID = #{record.sid,jdbcType=DECIMAL},
      MAKETIME = #{record.maketime,jdbcType=TIMESTAMP},
      TID = #{record.tid,jdbcType=VARCHAR},
      GUID = #{record.guid,jdbcType=DECIMAL},
      SPRICE = #{record.sprice,jdbcType=DECIMAL},
      SSTATUS = #{record.sstatus,jdbcType=VARCHAR},
      ISANTI = #{record.isanti,jdbcType=VARCHAR},
      LSTATUS = #{record.lstatus,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CID = #{record.cid,jdbcType=DECIMAL},
      LASTDATE = #{record.lastdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.XiaoshouSellout" >
    update XIAOSHOU_SELLOUT
    <set >
      <if test="maketime != null" >
        MAKETIME = #{maketime,jdbcType=TIMESTAMP},
      </if>
      <if test="tid != null" >
        TID = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="guid != null" >
        GUID = #{guid,jdbcType=DECIMAL},
      </if>
      <if test="sprice != null" >
        SPRICE = #{sprice,jdbcType=DECIMAL},
      </if>
      <if test="sstatus != null" >
        SSTATUS = #{sstatus,jdbcType=VARCHAR},
      </if>
      <if test="isanti != null" >
        ISANTI = #{isanti,jdbcType=VARCHAR},
      </if>
      <if test="lstatus != null" >
        LSTATUS = #{lstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        CID = #{cid,jdbcType=DECIMAL},
      </if>
      <if test="lastdate != null" >
        LASTDATE = #{lastdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.XiaoshouSellout" >
    update XIAOSHOU_SELLOUT
    set MAKETIME = #{maketime,jdbcType=TIMESTAMP},
      TID = #{tid,jdbcType=VARCHAR},
      GUID = #{guid,jdbcType=DECIMAL},
      SPRICE = #{sprice,jdbcType=DECIMAL},
      SSTATUS = #{sstatus,jdbcType=VARCHAR},
      ISANTI = #{isanti,jdbcType=VARCHAR},
      LSTATUS = #{lstatus,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CID = #{cid,jdbcType=DECIMAL},
      LASTDATE = #{lastdate,jdbcType=TIMESTAMP}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
</mapper>